@font-face {
  font-family: "Caraque Trial Regular Melted";
  font-style: normal;
  font-weight: normal;
  src: local("Caraque Trial Regular Melted"), url("../Caraque_Trial_RgMelted.woff") format("woff");
}
@font-face {
  font-family: "Poppins Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Regular"), url("../Poppins-Regular.woff") format("woff");
}
* {
  font-family: "Poppins Regular", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins Regular", sans-serif;
}

h2 {
  margin-bottom: 30px;
  color: antiquewhite;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}

/* Styles start */
.wrapper {
  width: 85%;
  padding: 50px 0;
  margin: 0 auto;
}

section {
  width: 100%;
  height: 100vh;
}

.section1 {
  padding: 10rem 0 12rem;
  background-image: url("../images/bg.jpg");
  background-position: left 33rem center;
}
@media screen and (max-width: 1280px) {
  .section1 {
    background-position: left 17rem center;
  }
}
.section1 .section-title {
  font-size: 8.5rem;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}
@media screen and (max-width: 1280px) {
  .section1 .section-title {
    font-size: 7rem;
  }
}
.section1 .section-title .thin {
  font-weight: 100;
}

.interactive-data-section {
  height: 100%;
  min-height: 100vh;
  background-color: #000;
}
.interactive-data-section .section-title {
  width: 40%;
  margin: 0 auto;
  font-size: 9.5rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 1440px) {
  .interactive-data-section .section-title {
    width: 60%;
  }
}
@media screen and (max-width: 1280px) {
  .interactive-data-section .section-title {
    font-size: 7rem;
  }
}
.interactive-data-section .section-title .thin {
  font-weight: 100;
}
.interactive-data-section .section-info {
  padding-top: 10px;
  background: linear-gradient(270deg, #4c65f7 31.21%, #ff62aa 73.32%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}
@media screen and (max-width: 1280px) {
  .interactive-data-section .section-info {
    font-size: 18px;
  }
}
.interactive-data-section .canvas-container {
  position: relative;
}
.interactive-data-section .section-note {
  width: 50%;
  padding: 20px 45px;
  border: 2px solid #ff62aa;
  border-radius: 45px;
  margin: 4rem auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.interactive-data-section .section-note_title {
  background: linear-gradient(270deg, #4c65f7 8.21%, #ff62aa 66.32%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
.interactive-data-section .section-note_title::before {
  content: "\f24e";
  margin-right: 5px;
  font-family: "FontAwesome";
  font-size: 20px;
}

.graph-value {
  position: absolute;
  color: #fff;
  font-size: 26px;
  font-weight: bold;
}

.graph-info-and-buttons {
  width: 100%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, 0);
}
.graph-info-and-buttons > span {
  margin: 60px 0 20px;
  display: block;
  color: #626262;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.graph-x-name {
  position: absolute;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.graph-names-container {
  height: 50px;
  position: relative;
}
.graph-names-container .button {
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  background-color: transparent;
  color: #fff;
  font-size: 0;
  font-weight: bold;
  text-transform: capitalize;
  transition: background-color 1s ease-in-out;
}
.graph-names-container .button.previous-button {
  top: 0;
  left: 34%;
}
.graph-names-container .button.previous-button::after {
  content: "\f060";
  font-family: "Font Awesome 6 Free";
  font-size: 24px;
  font-weight: 900;
}
.graph-names-container .button.next-button {
  top: 0;
  left: 62%;
}
.graph-names-container .button.next-button::after {
  content: "\f061";
  font-family: "Font Awesome 6 Free";
  font-size: 24px;
  font-weight: 900;
}
.graph-names-container .button:hover {
  background-color: orangered;
  cursor: pointer;
}

.graph-names {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.graph-names li {
  flex-basis: 16.5%;
  flex-shrink: 0;
  text-align: center;
}
.graph-names li span {
  color: #626262;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
.graph-names li.active {
  flex-basis: 34%;
}
.graph-names li.active span {
  color: #fff;
  font-size: 32px;
}
.graph-names .active + li {
  margin-left: 0;
}

.section3 {
  background-color: darkturquoise;
}
