* {
  font-family: "Caraque Trial", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Caraque Trial", sans-serif;
}

/* Styles start */
.wrapper {
  width: 85%;
  padding: 50px 0;
  margin: 0 auto;
}

section {
  width: 100%;
  height: 100vh;
}

.section1 {
  background-color: mediumpurple;
}

.interactive-data-section {
  height: 100%;
  min-height: 100vh;
  background-color: #000;
}
.interactive-data-section .canvas-container {
  position: relative;
}

.graph-value {
  position: absolute;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.graph-info-and-buttons {
  width: 100%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, 0);
}
.graph-info-and-buttons > span {
  margin: 60px 0 20px;
  display: block;
  color: #626262;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.graph-x-name {
  position: absolute;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.graph-names-container {
  height: 50px;
  position: relative;
}
.graph-names-container .button {
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  background-color: transparent;
  color: #fff;
  font-size: 0;
  font-weight: bold;
  text-transform: capitalize;
  transition: background-color 1s ease-in-out;
}
.graph-names-container .button.previous-button {
  top: 0;
  left: 34%;
}
.graph-names-container .button.previous-button::after {
  content: "\f060";
  font-family: "Font Awesome 6 Free";
  font-size: 24px;
  font-weight: 900;
}
.graph-names-container .button.next-button {
  top: 0;
  left: 62%;
}
.graph-names-container .button.next-button::after {
  content: "\f061";
  font-family: "Font Awesome 6 Free";
  font-size: 24px;
  font-weight: 900;
}
.graph-names-container .button:hover {
  background-color: orangered;
  cursor: pointer;
}

.graph-names {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.graph-names li {
  flex-basis: 17.5%;
  flex-shrink: 0;
  text-align: center;
}
.graph-names li span {
  color: #626262;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
}
.graph-names li.active {
  flex-basis: 30%;
}
.graph-names li.active span {
  color: #fff;
  font-size: 38px;
}
.graph-names .active + li {
  margin-left: 0;
}

.section3 {
  background-color: darkturquoise;
}

h2 {
  margin-bottom: 30px;
  color: antiquewhite;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}
