* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Caraque Trial", sans-serif;
}

/* Styles start */
.wrapper {
  width: 85%;
  padding: 50px 0;
  margin: 0 auto;
}

section {
  width: 100%;
  height: 100vh;
}

.section1 {
  background-color: mediumpurple;
}

.interactive-data-section {
  height: 140vh;
  background-color: #000;
}

.section3 {
  background-color: darkturquoise;
}

h2 {
  margin-bottom: 30px;
  color: antiquewhite;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}

.change-graph-button {
  margin-top: 30px;
  text-align: center;
}
.change-graph-button button {
  padding: 15px 40px;
  border: none;
  border-radius: 30px;
  display: inline-block;
  background-color: #fff;
  color: #000;
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
}
.change-graph-button button:hover {
  cursor: pointer;
}
