$primary-color: #fff;
$secondary-color: #686767;

* {
	font-family: 'Poppins', sans-serif; 
	box-sizing: border-box; 
}

body { 
	margin: 0;
	color: $primary-color;
	font-family: 'Poppins', sans-serif; 
}

/* Styles start */
.wrapper {
	width: 85%;
	padding: 50px 0;
	margin: 0 auto;
}

section {
	width: 100%;
}

.section1 {
	padding: 10rem 0 12rem;
	background-image: url('../images/bg.jpg'); 
	background-position: left 33rem center;

	.section-title {
		font-size: 8.5rem;
		font-weight: 500;
		line-height: 1;
		text-transform: uppercase;

		.thin { font-weight: 100; }
	}
}
.section3 { background-color: darkturquoise; }

.interactive-data-section { 
	height: 100%;
	min-height: 120vh;
	padding: 5rem 0;
	position: relative;
	background-color: #000;

	.section-title {
		width: 40%;
		margin: 0 auto;
		font-size: 9.5rem;
		font-weight: 500;
		line-height: 1;
		text-align: center;
		text-transform: uppercase;

		.thin { font-weight: 100; }
	}

	.section-info {
		padding-top: 10px;
		background: linear-gradient(270deg, #4c65f7 31.21%, #ff62aa 73.32%);
		background-clip: text;
		-webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
		font-size: 25px;
		font-weight: 600;
		text-align: center;
	}

	.graph-type-list {
		width: 41.5%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 27.5rem;
    left: 30%;

		&_item {
			font-size: 25px;
			font-weight: 500;	
		}
	}

	.graph-title {
		font-size: 16px;
		font-weight: 600;
		color: $secondary-color;
		text-align: center;
		text-transform: uppercase;
		position: absolute;
    right: 0;
    left: 0;
    bottom: 24rem
	}

	.graph-category-list {
		margin: 0 auto;
		display: flex;
		align-items: center;

		&_item{
			color: $secondary-color;
			font-size: 35px;
			font-weight: bold;
			text-transform: capitalize;
			text-align: center;
			transition: 1s ease-in-out;

			&.active {
				color: $primary-color;
				// font-size: 45px;
			}
		}
		
	}

	.change-graph-buttons {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 300px;
		text-align: center;
	
		button {
			padding: 20px;
			border: 1px solid rgba(255,255,255,.5);
			border-radius: 50%;
			display: block;
			background-color: transparent;
			color: $primary-color;
			text-indent: -999999px;
			position: absolute;
			&:hover { animation: borderSpin 1s ease-in; }
		}
	
		.next-button { right: 39%; }
		.previous-button { left: 39%; }
	
		.next-button::before {
			content: "\f061";
			font-family: "FontAwesome";
			font-size: 20px;
			float: right;
			text-indent: 0;
			color: inherit;
		}
	
		.previous-button::before {
			content: "\f060";
			font-family: "FontAwesome";
			font-size: 20px;
			float: right;
			text-indent: 0;
			color: inherit;
		}
	}

	.section-note {
		width: 50%;
		padding: 20px 45px;
		border: 2px solid #ff62aa;
		border-radius: 45px;
		margin: 3rem auto 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
	
		&_title {
			background: linear-gradient(270deg, #4c65f7 8.21%, #ff62aa 66.32%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			font-size: 20px;
			font-weight: 500;
			text-transform: uppercase;

			&::before {
				content: "\f24e";
				margin-right: 5px;
				font-family: 'FontAwesome';
				font-size: 20px;
			}
		}
	}
}




.reverseSpin { animation: reverseBorderSpin 1s ease-in;	}


@keyframes borderSpin {
	0% { border-color: transparent; }
	25% { border-right: 1px solid rgba(255,255,255,.5); }
	50% { border-bottom: 1px solid rgba(255,255,255,.5); }
	75% { border-left: 1px solid rgba(255,255,255,.5); }
	100% { border: 1px solid rgba(255,255,255,.5); }
}

@keyframes reverseBorderSpin {
	0% { border-color: transparent; }
	25% { border-top: 1px solid rgba(255,255,255,.5); }
	50% { border-left: 1px solid rgba(255,255,255,.5); }
	75% { border-bottom: 1px solid rgba(255,255,255,.5); }
	100% { border-right: 1px solid rgba(255,255,255,.5); }
}