* {
	font-family: 'Caraque Trial', sans-serif; 
	box-sizing: border-box; 
}

body { 
	margin: 0;
	font-family: 'Caraque Trial', sans-serif; 
}

/* Styles start */
.wrapper {
	width: 85%;
	padding: 50px 0;
	margin: 0 auto;
}

section {
	width: 100%;
	height: 100vh;
}

.section1 { background-color: mediumpurple; }

.interactive-data-section { 
	height: 100%;
	min-height: 100vh;
	background-color: #000;

	.canvas-container { position: relative; }
}

.graph-info-and-buttons {
	width: 100%;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, 0);

	> span {
		margin-bottom: 20px;
		display: block;
		color: #626262;
		font-size: 14px;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
	}
}

.graph-x-name {
	margin-bottom: 20px;
	display: flex;
	justify-content: center;

	li {
		margin-right: 6%;
		&:last-child { margin-right: 0; }
	}

	span {
		color: #fff;
		font-size: 20px;
		font-weight: bold;
	}
}

.graph-names-container { 
	height: 50px;
	position: relative;
	.button {
		width: 50px;
		height: 50px;
		border: none;
		border-radius: 50%;
		display: inline-block;
		position: absolute;
		background-color: #fff;
		color: #000;
		font-size: 0;
		font-weight: bold;
		text-transform: capitalize;
		transition: background-color 1s ease-in-out;

		&.previous-button {
			top: 0;
			left: 35%;
			&::after {
				content: "\f060";
				font-family: "Font Awesome 6 Free";
				font-size: 24px;
				font-weight: 900;
			}
		}

		&.next-button {
			top: 0;
			left: 65%;
			&::after {
				content: "\f061";
				font-family: "Font Awesome 6 Free";
				font-size: 24px;
				font-weight: 900;
			}
		}

		&:hover {
			background-color: orangered;
			cursor: pointer;
		}
	}
}

.graph-names {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	li {
		span {
			color: #626262;
			font-size: 28px;
			font-weight: bold;
			text-transform: uppercase;
		}

		&.active {
			margin: 0 7%;

			span {
				color: #fff;
				font-size: 38px;
			}
		}

		&.hidden { display: none; }
	}

	.active + li { margin-left: 0; }
}

.previous-button {
	svg {
		display: block;
		width: 50px;
		height: 50px;
	}
	&:hover {
		circle {
			animation: draw1 .75s linear forwards;
		}
	}

	span {
		font-size: 0;
	}
}

@keyframes draw1 {
	0% {
			stroke-dasharray: 300;
			stroke-dashoffset: 700;
			stroke-width: 1px;
	}
	75% {
			stroke-dasharray: 900;
			stroke-width: 1px;
	}
	100% {
			stroke-dasharray: 900;
			stroke-width: 1px;
	}
}

.section3 { background-color: darkturquoise; }

h2 {
	margin-bottom: 30px;
	color: antiquewhite;
	font-size: 50px;
	font-weight: 700;
	text-align: center;
	text-transform: capitalize;
}